{% extends 'courts/base.html' %}
{% block content %}
        <div id="container">
            <div><h1>Registration</h1>
                    <form action="/users/register/" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for='first_name'>First Name</label>
                            <input type="text" name="first_name" id="fname" class="fname">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" name="last_name" id="lname" class="lname">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" name="email" id="email" class="email">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password</label>
                            <input type="password" name="pwd" id="pwd" class="pwd">
                        </div>
                        <div class="form-group">
                                <label for="cpwd">Confirm PW</label>
                                <input type="password" name="cpwd" id="cpwd">
                        </div>
                        <input type="submit" value="Register">
                    </form>
            </div>
        </div>
{% endblock%}